body{
  overflow: hidden;
}

button {
    color: #fff;
    background-color: rgb(255, 99, 71, 0.8);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}