html, body {
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'TACOM';
    src: url('fonts/tacom-font.TTF') format('truetype');
} 

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-image: url('Desert.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Verhindert, dass das Bild wiederholt wird */
    height: 100vh; /* Stellt sicher, dass der Body 100% der Viewport-Höhe ausfüllt */
    font-family: sans-serif;
    color: white;
    font-family: 'TACOM', Arial, Helvetica, sans-serif;
}

canvas {
    background-color: black;
    border: 2px solid white;
    display: block;
}

h1{
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 4px 8px 2px rgba(0, 0, 0, 0.6);
}

/* Stil für den Startbildschirm */
#start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    transition: opacity 0.5s ease-in-out;
}

/* Klasse, um den Startbildschirm auszublenden */
#start-screen.hidden {
    opacity: 0;
    pointer-events: none; /* Verhindert Klicks, wenn unsichtbar */
}

/* Stile für den Start-Button */
.button {
    padding: 15px 30px;
    font-family: 'TACOM', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(255, 99, 71, 0.8);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    transition: transform 0.2s, background-color 0.2s;
}

.button:hover {
    background-color: #e5533d;
    transform: scale(1.05);
}

/* Stile für die Anleitung */
.instructions {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.instructions h2 {
    margin-top: 0;
    color: #ffcc00;
}

.instructions p {
    margin: 5px 0;
}

#panel {
    display: none; /* Standardmäßig immer ausgeblendet */
    position: absolute;
    bottom: 20px;
    width: 96%;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 200;
}

/* Diese Klasse wird durch JavaScript hinzugefügt, um das Panel sichtbar zu machen */
#panel.show-panel {
    display: flex;
}

#panel button {
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    background: rgba(255,255,255,0.2);
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    touch-action: none;
}

#panel-left, #panel-right {
    display: flex;
    gap: 10px;
}

#end-screen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#end-screen.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
        height: auto;
    }
    h1{
        display: none;
    }
}
@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }
    h1{
        display: none;
    }
}
